
body{
    background-color: #24353f;
}
.bg-body{
    background-color: rgb(95, 138, 160) !important;
}
h1 , h3{
    color: #ccc;
}
.line{
    height: 0.05rem;
    background-color: #ccc;
}
textarea{
    resize: none;
}
@media screen and (max-width: 992px) {
    .table-scroll{
        overflow-x: scroll;
        white-space: nowrap;
    }
}
